
/* 전체 영역을 통틀어서 스타일 정의 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    font-family: 'nanum Gothic';
}
*{
    color:#000000;
    text-decoration: none;
}


/* 네비게이션 영역 */
.navbar-default{
    background-color:#000000;
    border-color: #000000
}